.logo{
	width: 50%;
}


.font-default{
	font-family: 'Chivo Mono', monospace;
}

.nav-link{
	font-size: 1.5rem;
	
}

#container-title{
	padding: 0 1.5rem;
	
}

.text-main-container{
	padding-top: 5%;
	padding-bottom: 5%;
}

h1{
	margin-bottom: 5%;
	
}

.play-store-logo{
	background-size: 5px 5px;
	width: 20px;
}

.apple-logo-white{
	background-size: 5px 5px;
	width: 20px;
	fill: #FFFFFF;
	padding-bottom: 3px;
}

.apple-logo-black{
	background-size: 5px 5px;
	width: 20px;
	fill: #000000;
	padding-bottom: 3px;
}


.cellphone{
	background-color: #FFFFFF;
	padding-top: 15px;
	height: 470px;
	width:260px;
	margin: auto;
	border-radius: 30px;
	text-align: center;
	rotate: 30deg;
}


.photo-gallery{
	width: 80%;
	margin: auto;
	padding-top: 50px;
}

.card{
	width: 18rem;
	margin-bottom: 30px;
}

.carousel-item{
	text-align: center;
	padding-top: 5%;
}


.testimonial-block{
	margin: auto;
}

.testimonial-photo{
	width: 25%;
	border-radius: 50% ; 
}


.testimonial-text{
	font-size: 1.5rem;
	margin-top: 5%;
	
}
/** Media Queries*/

@media screen and (max-width: 765px) {
  .cellphone {
	rotate: 0deg;
  }
}